<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />
		<!-- LIGHT SECTION -->
		<section class="lightSection clearfix pageHeaderImage">
			<div class="container">
				<div class="tableBlock">
					<div class="row tableInner">
						<div class="col-xs-12">
							<div class="page-title">
								<h2>cart</h2>
								<ol class="breadcrumb">
									<li><a href="index.html">Home</a></li>
									<li class="active">cart</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- MAIN CONTENT SECTION -->
		<section class="mainContent clearfix cartListWrapper">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="cartListInner">

							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th></th>
											<th>Product Name</th>
											<th>Price</th>
											<th>Quantity</th>

										</tr>
									</thead>
									<tbody>

										<tr th:each="cartItem : ${cartItemList}">
											<form th:action="@{/shoppingCart/updateCartItem}"
												method="post">
											<td class="col-xs-2"><a type="button" class="close"
												data-dismiss="alert" aria-label="Close"
												th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}"><span
													aria-hidden="true">&times; </span></a> <span class="cartImage"><img
													style="width: 70px;"
													th:src="@{/image/product/}+${cartItem.product.id}+'.png'"
													alt="image" /></span></td>
											<td class="col-xs-4">
												<div style="margin-left: 50px;">
													<a th:href="@{/productDetail?id=}+${cartItem.product.id}"><h4
															th:text="${cartItem.product.name}"></h4></a>
													<p th:if="${cartItem.product.inStockNumber&gt;10}"
														style="color: green;">In Stock</p>
													<p
														th:if="${cartItem.product.inStockNumber&lt;10 and cartItem.product.inStockNumber&gt;0}"
														style="color: green;">
														Only <span th:text="${cartItem.product.inStockNumber}"></span>
														In Stock
													</p>
													<p th:if="${cartItem.product.inStockNumber==0}"
														style="color: darkred;">Product Unavailable</p>
													<a th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}">delete</a>
												</div>
											</td>
											<td class="col-xs-2"><h5
													style="color: #db3208; font-size: large;">
													$<span th:text="${cartItem.product.productPrice}"
														th:style="${cartItem.product.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
												</h5></td>
											<td class="col-xs-2"><input hidden="hidden" name="id"
												th:value="${cartItem.id}" /> <input th:id="${cartItem.id}"
												th:name="qty"
												th:disabled="${cartItem.product.inStockNumber==0}"
												class="form-control cartItemQty" th:value="${cartItem.qty}" />
												<button style="display: none;"
													th:id="'update-item-'+${cartItem.id}" type="submit"
													class="btn btn-warning btn-xs">Update</button></td>

											</form>
										</tr>

									</tbody>
								</table>
							</div>
							<div class="updateArea">
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="I have a discount coupon"
										aria-describedby="basic-addon2" /> <a href="#"
										class="btn input-group-addon" id="basic-addon2">apply
										coupon</a>
								</div>
								<a href="#" class="btn">update cart</a>
							</div>
							<div class="row totalAmountArea">
								<div class="col-sm-4 col-sm-offset-8 col-xs-12">
									<h4 class="col-xs-12 text-right">
										<strong style="font-size: large;">Total Price (<span
											th:text="${#lists.size(cartItemList)}"></span> items):
										</strong> <span style="color: #db3208; font-szie: large;">$<span
											th:text="${shoppingCart.grandTotal}"></span></span>
									</h4>
								</div>
							</div>
							<div class="checkBtnArea text-left">
								<a class="btn btn-warning " th:href="@{/productshelf}"><i
									class="fa fa-arrow-circle-left" aria-hidden="true"></i>Continue
									Shopping</a>
									
							</div>
							<div class="checkBtnArea">
								<a th:href="@{/checkout(id=${shoppingCart.id})}" class="btn btn-primary btn-block">Checkout<i
									class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>


	<div th:replace="common/header :: footer" />

	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
